.dropdown {
  position: relative;
}

.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $default-dropdown-z-index - 10;
}

.is-open {
  > .dropdown-menu {
    display: block;
  }

  > .dropdown-menu-table {
    visibility: visible;
  }
}

.navbar-right {
  .dropdown-menu {
    right: 0;
    left: auto;
  }
}
.navbar-left {
  .dropdown-menu {
    right: auto;
  }
}

.dropdown-menu {
  @include pad(5px 0px);
  white-space: nowrap;
  position: absolute;
  top: 100%;
  left: 0px;
  display: none;
  margin-bottom: 0px;
  z-index: $default-dropdown-z-index;

  list-style: none;
  border: 1px solid $black;

  @include border-radius($default-dropdown-border-radius);

  $shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  @include box-shadow($shadow);

  li {
    &.divider {
      height: 1px;
      margin: 9px 0px;
      overflow: hidden;
    }

    &.header {
      display: block;
      padding: 3px 20px;
      font-size: 16px;
      font-weight: bolder;
      line-height: 1.428571429;
    }
    
    > a {
      @include pad(3px 20px);
      display: block;
      clear: both;

      font-weight: normal;
      text-decoration: none;

      opacity: 1.0;

      &:hover,
      &:focus {
        outline-width: 0px;
        text-decoration: none;

        &:active {
          text-decoration: none;
        }
      }

      &:disabled,
      &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover,
        &:focus { 
          cursor: not-allowed;
          text-decoration: none;
          background-color: transparent;

          &:active {
            outline: 0px;
            text-decoration: none;
            background-color: transparent;
            background-image: none;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}

//
// Dropdown
// -------------------------------------------------------------------

@mixin dropdown-menu($back-color, $text-color, $use-caret) {
  background-color: $back-color;

  @if $use-caret {
    margin-top: 7px;

    &::before {
      @include inline-block();
      position: absolute;
      top: -7px;
      left: 9px; //45%
      border-right: 7px solid transparent;
      border-bottom: 7px solid;
      border-left: 7px solid transparent;
      content: '';
    }

    &::after {
      @include inline-block();
      position: absolute;
      top: -6px;
      left: 10px;
      border-right: 6px solid transparent;
      border-bottom: 6px solid $back-color;
      border-left: 6px solid transparent;
      content: '';
    }
  }

  @else {
    margin-top: 0px;
  }

  li {
    > a {
      @include border-radius($default-dropdown-border-radius);
      color: $text-color;

      &:hover,
      &:focus {
        outline-width: 0px;
        color: $back-color;
        background-color: $text-color;

        &:active {
          background-color: $back-color;
        }
      }

      &:disabled,
      &[disabled] {

        &:hover,
        &:focus {  
          color: $text-color;  
        }
      }
    }

    &.divider {
      background-color: tint($text-color, 70%);
    }

    &.header {
      color: $text-color;
    }
  }

  @include media($desktop) {
    .footer-menu {
      li > a {
        &:hover,
        &:focus {
          color: $text-color;
          text-decoration: underline;
          background-color: transparent;

          &:active {
            background-color: transparent;
          }
        }

        &:disabled,
        &[disabled] {
          &:hover,
          &:focus {  
            color: $text-color;  
          }
        }
      }
    }
  }
}

//
// Caret (to be placed next to text)
// -------------------------------------------------------------------

@mixin caret($color) {
  @include inline-block();
  width: 0;
  height: 0;

  margin-left: 2px;
  vertical-align: middle;

  border-top:   4px solid $color;
  border-right: 4px solid transparent;
  border-left:  4px solid transparent;
}


@import "modules/dropdowns/dropdown-table";
@import "modules/dropdowns/sb-dropdown";