//
// Sprites
// -------------------------------------------------------------------

.filter-bar {
  .sprite {
    position: relative;
    top: 2px; 
    left: 20px;

    display: inline;
    background-image: asset-url('filter-bar-sprites.png', image);
    background-repeat: no-repeat;
    width: 32px;
    height: 31px;

    @include media($mobile) {
      left: 0px;
    }
  }

  #iphone {
    background-position: -9px -36px;
    width: 25px;
    left: 25px;
    
    @include media($mobile) {
      left: 0px;
      width: 20px;
    }
  }

  #ipad {
    background-position: -1px -5px;
    height: 30px;
    top: 4px;
    
    @include media($mobile) {
      top: 2px;
    }
  }

  #web {
    background-position: -69px -3px;
  }
}

//
// Filter Nav Bar
// -------------------------------------------------------------------

.filter-bar {
  > .btn {
    background-color: #EBE5DE;
    font-family: ProximaNova;
    font-size: 20px;
    color: #9E9A95;

    height: 55px;
    width: 160px;
    text-align: center;
    line-height: 35px; 

    &:not(last-child) {
      border-left: 1px solid $white;
    }

    &:last-child {
      margin-right: 0px;
    }

    &.hover,
    &:hover {
      background-color: #E3DDD6;

      &.active,
      &:active {
        color: white;
        background-color: #34AFE7;
        @include box-shadow(none);

        #iphone {
          background-position:  -43px -36px;
          width: 25px;

          @include media($mobile) {
            width: 20px;
          }
        }

        #ipad {
          background-position: -35px -5px;
        }

        #web {
          background-position: -69px -37px;
        }
      }
    }

    i {
      float: left;
      margin-right: 5px;
      font-size: 40px;
    }

    #iphone {
      margin-right: 0px;
    }

    @include media($mobile) {
      font-size: 18px;
      width: 110px;
    }
  }
}