//
// Forms
// --------------------------------------------------

//
// Input Text Fields
// -------------------------

form {
  @include inline-block();
  margin-bottom: 10px;

  .sb.input {
    -webkit-appearance: none;

    font-family: ProximaNova;
    font-size: 18px;
    color: $black;

    @include placeholder {
      font-family: ProximaNova;
      font-size: 18px;
      color: #777C89;
    }

    &:focus {
      @include box-shadow(none);
      outline: 0px;
    }
  }
}

form {
  .sb.input {
    @include border-radius(12px);
    border: 1px solid #E2D7C8;

    position: relative;
    top: 2px;
    height: 53px;
    min-width: 300px;

    &:focus:not(.email):not(.password) {
      @include box-shadow(0px 0px 5px 0px tint(#34AFE7, 65%));
      border: 1px solid #34AFE7;
    }

    @include media($mobile) {
      min-width: 225px;
      max-width: 260px;
    }
  }
}

.sb.input.small {
  min-width: 70px;
  max-width: 70px;

  max-height: 45px;
}

#age-textfield {
  margin-left: 5px;
  margin-right: 5px;
}

//
// Email-Password Fieldset
// -------------------------

form fieldset {
  &.sb {
    @include pad(20px);
    border-radius: 7px;
    border: 0px;

    background-color: $darkish-blue;
    text-align: left;
    color: white;

    .email-password {
      @include pad(0px);
      border: 0px;

      .email {
        background-image: asset-url('forms/field/email-field.png', image);
      }

      .password {
        background-image: asset-url('forms/field/password-field.png', image);
      }

      .email,
      .password {
        padding-left: 50px;
        background-repeat: no-repeat;
        background-position: 10px;
      }

      .sb.input {
        top: 0px;
        left: 0px;
      }
    }

    @include media($mobile) {
      max-width: 300px;
    }
  }

  &.email-password {
    margin-bottom: 15px;

    input {
      display: block;

      &:first-child:not(last-child) {
        @include border-radius-bottom(0px);
        border-bottom: 0px;
      }

      &:last-child:not(first-child) {
        @include border-radius-top(0px);
      }

      &:not(first-child):not(last-child) {
        @include border-radius(0px);
        border-bottom: 0px;
      }
    }

    .input {
      border-color: #777C89;
    }
  }
}

//
// Input Checkboxes
// --------------------------------------------------

form {
  input[type="checkbox"] {
    display: none;
  }

  label.checkbox {
    float: left;
    margin-right: 10px;
  }

  i {
    width: 45px;
  }
}

form fieldset {
  &.checkbox {
    max-width: 340px;
    padding: 5px 20px;
    border: 0px;

    text-align: left;
    font-size: 12px;
    color: white;
  }

  .description {
    padding-top: 6px;
  }
}