form {
  @include inline-block();

  .sb.input {
    -webkit-appearance: none;

    @include border-radius(12px);
    border: 1px solid #E2D7C8;

    position: relative;
    top: 2px;
    height: 53px;
    min-width: 300px;

    font-family: ProximaNova;
    font-size: 18px;
    color: $black;

    @include placeholder {
      font-family: ProximaNova;
      font-size: 18px;
      color: #777C89;
    }

    &:focus {
      @include box-shadow(0px 0px 5px 0px tint(#34AFE7, 65%));
      border: 1px solid #34AFE7;
      outline: 0px;
    }

    @include media($mobile) {
      min-width: 225px;
    }
  }
}

.sb.input.small {
  min-width: 68px;
  max-width: 68px;
}

#age-textfield {
  margin-left: 5px;
  margin-right: 5px;
}

form fieldset {
  &.sb {
    @include pad(20px);
    border-radius: 7px;
    border: 0px;

    background-color: $blue;
    color: white;

    .email-password {
      @include pad(0px);
      border: 0px;

      .sb.input {
        top: 0px;
        left: 0px;
      }
    }
  }

  &.email-password {
    margin-bottom: 15px;

    input {
      display: block;

      &:first-child:not(last-child) {
        @include border-radius-bottom(0px);
        border-bottom: 0px;
      }

      &:last-child:not(first-child) {
        @include border-radius-top(0px);
      }

      &:not(first-child):not(last-child) {
        @include border-radius(0px);
        border-bottom: 0px;
      }
    }

    .input {
      border-color: #777C89;
    }
  }
}