//
// Wells
// --------------------------------------------------


// Base class
@mixin well() {
  @include border-radius(15px);
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #F0F0F0;
  border: 2px solid darken(#F0F0F0, 7%);

  $shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  @include box-shadow($shadow);

  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,0.15);
  }

  // Sizes
  .well-lg {
    @include pad(24px);
    @include border-radius(25px);
  }

  .well-sm {
    @include pad(9px);
    @include border-radius(10px);
  }
}

.well {
  @include outer-container();
  @include well();

  @include striped-bkgrd(angled-135);
  margin: 25px 0px 25px;
  width: 85%;

  .list-items > li {
    @include list(2);
    @include pad(0px);
    background-color: transparent;

    .dropdown {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include media($mobile) {
    width: 100%;
  }
}

table.spaced {
  td {
    @include pad(15px 0px);
  }
}