<div class="content"><div class="main large"><h3>Buttons</h3>
  <p>
  Use the mixin <i>btn(style, color)</i> and class <i>.btn</i> for buttons.
  <br><br>

  To use the mixin in CSS:
  <br>
  </p>
  
  <code><pre>
.btn { 
  @include btn(flat, #19AE58); 
}

...

&lt;a class="btn" href="#">Flat Button&lt;/a>
</pre></code>

<br><br>
<center><p>
  <table class="well"><caption>Flat buttons in different colours:</caption>
    <tr>
      <td><a class="btn">Flat Button</a></td>
      <td><center>@include btn(flat, #19AE58);</center></td>
    </tr>
    <tr>
      <td><a class="btn"color="black">Dark Button</a></td>
      <td><center>@include btn(flat, #2F3443);</center></td>
    </tr>
    <tr>
      <td><a class="btn"color="white">Light Button</a></td>
      <td><center>@include btn(flat, #F5F4EC);</center></td>
    </tr>
  </table><br>
  <table class="well" style="width:100%"><caption>Raised buttons in different colours:</caption>
    <tr>
      <td><a class="btn" style="raised">Raised Button</a></td>
      <td><center>@include btn(raised, #19AE58);</center></td>
    </tr>
    <tr>
      <td><a class="btn" color="black2">Dark Button</a></td>
      <td><center>@include btn(raised, #2F3443);</center></td>
    </tr>
    <tr>
      <td><a class="btn" style="raised1">Light Button</a></td>
      <td><center>@include btn(raised, #F5F4EC);</center></td>
    </tr>
  </table>
</p></center>
</div>

<div class="main large"><h3>Button Groups</h3>
  <p>
  Use the mixin <i>btn-group()</i> for button groups. Use the <i>data-toggle="buttons"</i> attribute to enable radio button like behaviour. Use the <i>data-toggle="button"</i> attribute to enable checkbox like behaviour.
  <br><br>

  To use the mixin in CSS:
  <br><br>
  </p>

<code><pre>
.btn-group { 
  @include btn-group(); 
}

...

&lt;div class="btn-group" data-toggle="buttons"&gt;
  &lt;a class="btn"&gt;Button One&lt;/a&gt;
  &lt;a class="btn"&gt;Button Two&lt;/a&gt;
  &lt;a class="btn"&gt;Button Three&lt;/a&gt;
&lt;/div&gt;
</pre></code>
<br><br>

<p>
With <i>data-toggle="buttons"</i> attribute:
<br>
<div class="btn-group" data-toggle="buttons">
  <a class="btn">Choice 1</a>
  <a class="btn">Choice 2</a>
  <a class="btn">Choice 3</a>
</div><br>
<div class="btn-group" data-toggle="buttons">
  <a class="btn">Choice 1</a>
  <a class="btn">Choice 2</a>
</div><br>
<div class="btn-group" data-toggle="buttons">
  <a class="btn">Choice 1</a>
</div>
<br><br>

With <i>data-toggle="button"</i> attribute:
<br>
<div class="btn-group" data-toggle="button">
  <a class="btn" style="raised1">1</a>
  <a class="btn" style="raised1">2</a>
  <a class="btn" style="raised1">3</a>
</div><br>
<div class="btn-group" data-toggle="button">
  <a class="btn" style="raised1">1</a>
  <a class="btn" style="raised1">2</a>
</div><br>
<div class="btn-group" data-toggle="button">
  <a class="btn" style="raised1">1</a>
</div></div>

<div class="main large"><h3>Disabled Buttons</h3>
  To disabled buttons, add attribute <i>disabled="disabled"</i>
  <br><br>
</p>

<code><pre>
&lt;a class="btn" disabled="disabled"&gt;Disabled&lt;/a&gt;
</pre></code>
  <br><br>

  <a class="btn" disabled="disabled">Disabled</a><br>
  <a class="btn" color="white" disabled="disabled">Button</a><br>
  <a class="btn" style="raised" disabled="disabled">button</a><br>
  <a class="btn" color="black2" disabled="disabled">Disabled Button</a><br>
</div></div>

<div class="sidebar"><b>Mixin Definition</b>
  <br><br>

  @mixin btn($style, $color)
  <br><br>

  Parameters:<br>
  <ol>
    <li>style</li>
    <li>color</li>
  </ol>
  <br>
  Button Styles Available:<br>
  <ul>
    <li>flat</li>
    <li>raised</li>
  </ul>
</div>