<div class="content"><div class="main large"><h3>Storybot Buttons</h3>
  <p>
    Use the <i>btn</i> class for storybot buttons. Use the class <i>small</i> or <i>large</i> for smaller or bigger buttons. Include the button color as a class.
  </p>

<code><pre>
&lt;a class="btn green">Text&lt;/a>
</pre></code>

<center><p>
  Standard buttons in different sizes:
  <div class="well">
    <div class="list-items">
      <li><a class="btn green">Text</a></li>
      <li><center>class="btn green"</center></li>
      <li><a class="btn green small">Text</a></li>
      <li><center>class="btn green small"</center></li>
      <li><a class="btn green large">LARGE BUTTON TEXT</a></li>
      <li><center>class="btn green large"</center></li>
    </div>
  </div>
  <br>

  Standard buttons in different colours:
  <div class="well">
    <div class="list-items">
      <li><a class="btn green">Text</a></li>
      <li><center>class="btn green"</center></li>
      <li><a class="btn purple">Text</a></li>
      <li><center>class="btn purple"</center></li>
      <li><a class="btn blue">Text</a></li>
      <li><center>class="btn blue"</center></li>
      <li><a class="btn gray">Text</a></li>
      <li><center>class="btn gray"</center></li>
      </div>
    </div>
  <br>
  </center>
</div></div>


<div class="sidebar"><b>Button Styles Available:</b><br>
  <ul>
    <li>standard button</li>
    <li>big green button</li>
    <li>photo source button</li>
    <li>toggle button</li>
    <li>round button</li>
  </ul>
  <br><br>

  <b>Storybot Button Classes</b><br>
  Class Styles:
  <ul>
    <li>btn</li>
    <li>btn big-green</li>
    <li>big-green</li>
    <li>btn photo</li>
    <li>btn toggle-blue</li>
    <li>btn toggle-gray</li>
    <li>btn flat-round</li>
  </ul><br>
  Class Sizes:
  <ul>
    <li>small</li>
    <li>large</li>
  </ul><br>
  Class Colors:
  <ul>
    <li>green</li>
    <li>purple</li>
    <li>blue</li>
    <li>gray</li>
    <li>red</li>
    <li>dark-green</li>
    <li>light-blue</li>
  </ul>
</div>


<div class="content large"><div class="main large"><h3>More Storybot Buttons</h3>
  <center>
  Big Green Button:
  <div class="well">
    <div class="list-items">
      <li><a class="btn big-green">Label</a></li>
      <li><center>class="btn big-green"</center></li>
      </div>
    </div>
  <br>
  </center>

  <center>
  Photo Source buttons in different colours:
  <div class="well">
    <div class="list-items">
      <li><a class="btn photo purple"><span><i class="fa fa-desktop"></i>Computer</span></a></li>
      <li><center>class="btn photo purple"</center></li>
      <li><a class="btn photo red"><span><i class="fa fa-camera"></i>Webcam</span></a></li>
      <li><center>class="btn photo red"</center></li>
      <li><a class="btn photo blue"><span><i class="fa fa-facebook"></i>Facebook</span></a></li>
      <li><center>class="btn photo blue"</center></li>
      </div>
    </div>
  </p>
  </center><br>
  <p>Toggle buttons can be created by using a button-group and the class <i>toggle</i>.</p>
<code><pre>
&lt;div class="btn-group toggle" data-toggle="buttons">
  &lt;a class="btn toggle-blue active hover">&lt;/i>Girl&lt;/a>
  &lt;a class="btn toggle-blue">&lt;/i>Boy&lt;/a>
&lt;/div>
</pre></code>

  <br><br>

  <center>
  Toggle buttons in different colours:
  <div class="well">
    <div class="list-items">
      <li>
        <div class="btn-group toggle" data-toggle="buttons">
          <a class="btn toggle-blue active hover"></i>Girl</a>
          <a class="btn toggle-blue"></i>Boy</a>
        </div>
      </li>
      <li><center>class="btn-group toggle"<br>class="btn toggle-blue"</center></li>
      <li>
        <div class="btn-group toggle" data-toggle="buttons">
          <a class="btn toggle-gray active hover"></i>Child</a>
          <a class="btn toggle-gray"></i>Grownup</a>
        </div>
      </li>
      <li><center>class="btn-group toggle"<br>class="btn toggle-gray"</center></li>
      </div>
    </div>

  Standard buttons in different sizes:
  <div class="well">
    <div class="list-items">
      <li><a class="btn flat-round facebook"><i class="fa fa-facebook fa-fw"></i></a></li>
      <li><center>class="btn flat-round facebook"<br>&lt;i class="fa fa-facebook fa-fw"></center></li>
      <li><a class="btn flat-round twitter"><i class="fa fa-twitter fa-fw"></i></a></li>
      <li><center>class="btn flat-round twitter"<br>&lt;i class="fa fa-twitter fa-fw"></center></li>
      <li><a class="btn flat-round help-blue"><i class="fa fa-question fa-fw"></i></a></li>
      <li><center>class="btn flat-round help-blue"<br>&lt;i class="fa fa-twitter fa-fw"></center></li>
      <li><a class="btn flat-round help-green"><i class="fa fa-question fa-fw"></i></a></li>
      <li><center>class="btn flat-round help-green"<br>&lt;i class="fa fa-twitter fa-fw"></center></li>
    </div>
  </div>
  <br>
  </p>
  </center>
</div>


<div class="main large"><h3>Button Groups</h3>
  <p>
  Use the class <i>btn-group</i> for button groups.<br>
  Use the <i>data-toggle="buttons"</i> attribute to enable radio button like behaviour.<br>
  Use the <i>data-toggle="button"</i> attribute to enable checkbox like behaviour.
  <br><br>
  </p>

<code><pre>
&lt;div class="btn-group" data-toggle="buttons"&gt;
  &lt;a class="btn gray"&gt;Button One&lt;/a&gt;
  &lt;a class="btn gray"&gt;Button Two&lt;/a&gt;
  &lt;a class="btn gray"&gt;Button Three&lt;/a&gt;
&lt;/div&gt;
</pre></code>
<br><br>

<p>
With <i>data-toggle="buttons"</i> attribute:
<br>
<div class="btn-group" data-toggle="buttons">
  <a class="btn gray">Choice 1</a>
  <a class="btn gray">Choice 2</a>
  <a class="btn gray">Choice 3</a>
</div><br>
<div class="btn-group" data-toggle="buttons">
  <a class="btn gray">Choice 1</a>
  <a class="btn gray">Choice 2</a>
</div><br>
<div class="btn-group" data-toggle="buttons">
  <a class="btn gray">Choice 1</a>
</div>
<br><br>

With <i>data-toggle="button"</i> attribute:
<br>
<div class="btn-group" data-toggle="button">
  <a class="btn gray">1</a>
  <a class="btn gray">2</a>
  <a class="btn gray">3</a>
</div><br>
<div class="btn-group" data-toggle="button">
  <a class="btn gray">1</a>
  <a class="btn gray">2</a>
</div><br>
<div class="btn-group" data-toggle="button">
  <a class="btn gray">1</a>
</div></div>

<div class="main large"><h3>Disabled Buttons</h3>
  To disabled buttons, add attribute <i>disabled="disabled"</i>
  <br><br>
</p>

<code><pre>
&lt;a class="btn" disabled="disabled">Disabled&lt;/a>
</pre></code>
  <br><br>

  <a class="btn big-green" disabled="disabled">Disabled</a><br>
  <a class="btn gray" disabled="disabled">Button</a><br>
  <a class="btn photo purple" disabled="disabled">button</a><br>
  <a class="btn flat-round help-blue" disabled="disabled">Disabled Button</a><br>
</div></div>