<div class="content large"><div class="main"><h3>Default Values</h3>
  <p>
    <h5>Colours</h5>
    $white:  #F5F4EC;
    $black:  #505667;
    $green:  #19AE58;
    $purple: #9A67B0;
    $blue:   #1F7FB5;
    $gray:   #9FA3AE;
    $red:    #FD5F5A;
    $yellow: #EED41F;
    $beigey: #D8C8B2;

    $dark-green:   shade($green, 15%);
    $dark-blue:    #074B75;
    $light-blue:   #34AFE7;
    $light-beigey: #F6F2ED;

    $default-code-background: #F0F0F0;<br><br>

    <h5>Button Defaults</h5>
    $default-btn-color: #19AE58;<br>
    $default-btn-text-color: $white;<br>
    $default-btn-text-dark: $black;<br><br>

    <h5>Dropdown Defaults</h5>
    $default-dropdown-background: #ECECF2;<br>
    $default-dropdown-text-color: #6D707B;<br>
    $default-dropdown-border-radius: 5px;<br>
    $default-dropdown-z-index: 1000;<br><br>

    <h5>Modal Defaults</h5>
    $default-modal-z-index: 1040;<br>
    $default-modal-backdrop-color: #000000;<br>
    $default-modal-background: $white;<br>
    $default-modal-border: #D8C8B2;<br>
    $default-modal-text-color: #074B75;<br><br>
  </p>
</div>
<div class="sub"><h3>Default Breakpoints</h3>
  <p>
    $desktop: min-width 961px;<br>
    $tablet: max-width 960px;<br>
    $mobile: max-width 480px;<br>
  </p>
</div></div>