<div class="content large"><div class="main"><h3>Default Values</h3>
  <p>
    <h5>Colours</h5>
    $white:  #F5F4EC;<br>
    $black:  #505667;<br>
    $green:  #19AE58;<br>
    $purple: #9A67B0;<br>
    $blue:   #1F7FB5;<br>
    $gray:   #9FA3AE;<br>
    $red:    #FD5F5A;<br>
    $yellow: #EED41F;<br>
    $beigey: #D8C8B2;<br><br>

    $dark-green:   shade($green, 15%);<br>
    $dark-blue:    #074B75;<br>
    $light-blue:   #34AFE7;<br>
    $light-beigey: #F6F2ED;<br><br>

    $default-code-background: #F0F0F0;

    <h5>Button Defaults</h5>
    $default-btn-color: #19AE58;<br>
    $default-btn-text-color: $white;<br>
    $default-btn-text-dark: $black;<br>
    $default-btn-border-radius: 7px;

    <h5>Dropdown Defaults</h5>
    $default-dropdown-background: white;<br>
    $default-dropdown-text-color: $black;<br>
    $default-dropdown-border-radius: 7px;<br>
    $default-dropdown-z-index: 1000;

    <h5>Modal Defaults</h5>
    $default-modal-z-index: 1040;<br>
    $default-modal-backdrop-color: #000000;<br>
    $default-modal-background: $white;<br>
    $default-modal-border: #D8C8B2;<br>
    $default-modal-text-color: $dark-blue;
  </p>
</div>

<div class="sub"><h3>Default Breakpoints</h3>
  <p>
    $desktop: min-width 961px;<br>
    $large-desktop: min-width 1201px;<br>
    $small-desktop: max-width 1200px;<br>
    <br>
    $tablet: max-width 960px;<br>
    $mobile: max-width 480px;<br>
  </p>
</div></div>