<div class="content"><div class="main large"><h3>Dropdowns</h3>
  <p>Use the class <i>sb</i> to create storybot dropdowns.</p>
<code><pre>
&lt;div class="dropdown">

  &lt;a class="sb btn light-blue dropdown-toggle" id="dropdownMenu" toggle-type="dropdown">
    Dropdown Button&lt;i class="fa fa-caret-down">&lt;/i>
  &lt;/a>

  &lt;ul class="sb dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
    &lt;li class="header">Dropdown Header&lt;/li>
    &lt;li>&lt;a role="menuitem" href="#">Action&lt;/a>&lt;/li>
    &lt;li>&lt;a role="menuitem" href="#">Another action&lt;/a>&lt;/li>
    &lt;li>&lt;a role="menuitem" href="#">Something&lt;/a>&lt;/li>
    &lt;li class="divider">&lt;/li>
    &lt;li>&lt;a role="menuitem" href="#">Separated link&lt;/a>&lt;/li>
    &lt;li class="divider">&lt;/li>
    &lt;li>&lt;a disabled="disabled" role="menuitem" href="#">Disabled&lt;/a>&lt;/li>
  &lt;/ul>

&lt;/div>
</pre></code>

<br><br>

  <table class="well spaced" style="width: 100%;">
    <tr>
      <td>
        <div class="dropdown">
          <a class="btn green dropdown-toggle" id="sbDropdownMenu1" toggle-type="dropdown">
            This is the button text<i class="fa fa-caret-down fa-lg"></i>
          </a>
          <ul class="dropdown dropdown-menu" role="menu" aria-labelledby="sbDdropdownMenu2">
            <li><a role="menuitem" tabindex="-1">Alexander</a></li>
            <li><a role="menuitem" tabindex="-1">Beatrice</a></li>
            <li><a role="menuitem" tabindex="-1">Morgan</a></li>
            <li class="divider"></li>
            <li><a role="menuitem" tabindex="-1">Truman</a></li>
          </ul>
        </div>
      </td>
      <td>
        Button: class="sb btn green dropdown-toggle"<br>
        Dropdown Menu: class="sb dropdown dropdown-menu"
      </td>
    </tr>
    <tr>
      <td>
        <div class="dropdown">
          <a class="btn light-blue dropdown-toggle" id="sbDdropdownMenu2" toggle-type="dropdown">
            This is the button text<i class="fa fa-caret-down fa-lg"></i>
          </a>
          <ul class="dropdown dropdown-menu" role="menu" aria-labelledby="sbDdropdownMenu2">
            <li><a role="menuitem" tabindex="-1">Action</a></li>
            <li><a role="menuitem" tabindex="-1">Another action</a></li>
            <li><a role="menuitem" tabindex="-1">Something</a></li>
            <li class="divider"></li>
            <li><a role="menuitem" tabindex="-1">Separated link</a></li>
            <li class="divider"></li>
            <li><a disabled="disabled" role="menuitem" tabindex="-1">Disabled</a></li>
          </ul>
        </div>
      </td>
      <td>
        Button: class="sb btn green dropdown-toggle"<br>
        Dropdown Menu: lass="sb dropdown dropdown-menu"
      </td>
    </tr>
  </table>
</div></div>


<div class="sidebar"><b>Mixin Definition</b>
  <br><br>

  @mixin dropdown-menu($back-color, $text-color, $use-caret)
  <br><br>

  Parameters:
  <br>
  <ol>
    <li>background color</li>
    <li>text color</li>
    <li>use caret</li>
  </ol>
</div>


<div class="content large"><div class="main large"><h3>Other Dropdowns</h3>
  <p>
  The <i>caret</i> mixin creates a caret that can be placed inline with text.<br>
  The <i>dropdown-menu</i> mixin wraps around the menu options in the dropdown.<br>
  The class <i>divider</i> can be used to make a line separator in the drop down menu.<br>
  The attribute <i>disabled="disabled"</i> can be used to disable menu options.
  <br><br>
  </p>
<code><pre>
.caret {
  @include caret(white);
}
.dropdown-menu {
  @include dropdown-menu(#ECECF2, #6D707B, false);
}

...

&lt;div class="dropdown"&gt;

  &lt;a class="btn dropdown-toggle" id="dropdownMenu" toggle-type="dropdown"&gt;
    Dropdown Button&lt;span class="caret"&gt;&lt;/span&gt;
  &lt;/a&gt;

  &lt;ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu"&gt;
    &lt;li class="header"&gt;Dropdown Header&lt;/li&gt;
    &lt;li&gt;&lt;a role="menuitem" href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a role="menuitem" href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a role="menuitem" href="#"&gt;Something&lt;/a&gt;&lt;/li&gt;
    &lt;li class="divider"&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a role="menuitem" href="#"&gt;Separated link&lt;/a&gt;&lt;/li&gt;
    &lt;li class="divider"&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a disabled="disabled" role="menuitem" href="#"&gt;Disabled&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;

&lt;/div&gt;
</pre></code>

  <p>
  Use <i>dropdown</i> as the class to wrap around the element being used to launch the dropdown, and the dropdown menu itself. The element used to trigger the dropdown should have class <i>dropdown-toggle</i> and attribute <i>toggle-type="dropdown"</i>. Use <i>dropdown-menu</i> as the class name for the dropdown menu.
  <br><br>

  When using the <i>dropdown-menu</i> mixin, the first color provided will supply the background-color. The second color is for the text.
  <br><br>
  </p>

  <center>
    <table class="well">
      <tr>
        <td>
          <div class="dropdown">
            <a class="btn blue dropdown-toggle" id="dropdownMenu1" toggle-type="dropdown">
              Dropdown Button<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li class="header">Dropdown Header</li>
              <li><a role="menuitem" tabindex="-1" href="#">Action</a></li>
              <li><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
              <li><a role="menuitem" tabindex="-1" href="#">Something</a></li>
              <li class="divider"></li>
              <li><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a disabled="disabled" role="menuitem" tabindex="-1" href="#">Disabled</a></li>
            </ul>
          </div>
        </td>
        <td>
          @include dropdown-menu(#ECECF2, #6D707B, false);
        </td>
      </tr>
      <tr>
        <td>
          <div class="dropdown">
            <a class="btn gray dropdown-toggle" id="dropdownMenu2" toggle-type="dropdown">
              Dropdown Button<span class="caret"></span>
            </a>
            <ul class="dropdown-menu light" role="menu" aria-labelledby="dropdownMenu2">
              <li class="header">Dropdown Header</li>
              <li><a role="menuitem" tabindex="-1" href="#">Action</a></li>
              <li><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
              <li><a role="menuitem" tabindex="-1" href="#">Something</a></li>
              <li class="divider"></li>
              <li><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a disabled="disabled" role="menuitem" tabindex="-1" href="#">Disabled</a></li>
            </ul>
          </div>
        </td>
        <td>
          @include dropdown-menu(#19AE58, #6D707B, true);
        </td>
      </tr>
      <tr>
        <td>
          <div class="dropdown">
            <a class="btn purple dropdown-toggle" id="dropdownMenu3" toggle-type="dropdown">
              Dropdown Button<span class="caret"></span>
            </a>
            <ul class="dropdown-menu dark" role="menu" aria-labelledby="dropdownMenu3">
              <li class="header">Dropdown Header</li>
              <li><a role="menuitem" tabindex="-1" href="#">Action</a></li>
              <li><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
              <li><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a disabled="disabled" role="menuitem" tabindex="-1" href="#">Disabled</a></li>
            </ul>
          </div>
        </td>
        <td>
          @include dropdown-menu(#47476B, #E5E5E9, true);
        </td>
      </tr>
    </table>
  </center>

  <br><br>
  To use a dropdown button in a button group, the dropdown button must be placed in it's own button group.
  <br><br>

  <div class="btn-group">
    <a class="btn green"><i class="fa fa-home"></i></a>
    <div class="btn-group">
      <a class="btn green dropdown-toggle" id="dropdownMenu4" toggle-type="dropdown"><i class="fa fa-bars"></i></a>
      <ul class="dropdown-menu use-caret" role="menu" aria-labelledby="dropdownMenu4">
        <li class="header">Dropdown Header</li>
        <li><a role="menuitem" tabindex="-1" href="#">Action</a></li>
        <li><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
        <li><a role="menuitem" tabindex="-1" href="#">Something</a></li>
        <li class="divider"></li>
        <li><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        <li class="divider"></li>
        <li><a disabled="disabled" role="menuitem" tabindex="-1" href="#">Disabled</a></li>
      </ul>
    </div>
  </div>

  <br><br>

<code><pre>
&lt;div class="btn-group">
  &lt;a class="btn">&lt;i class="fa fa-home">&lt;/i>&lt;/a>
  &lt;div class="btn-group">
    &lt;a class="btn dropdown-toggle" id="dropdownMenu" toggle-type="dropdown">&lt;i class="fa fa-bars">&lt;/i>&lt;/a>
    &lt;ul class="dropdown-menu use-caret" role="menu" aria-labelledby="dropdownMenu">
      &lt;li class="header">Dropdown Header&lt;/li>
      &lt;li>&lt;a role="menuitem" tabindex="-1" href="#">Action&lt;/a>&lt;/li>
      &lt;li>&lt;a role="menuitem" tabindex="-1" href="#">Another action&lt;/a>&lt;/li>
      &lt;li>&lt;a role="menuitem" tabindex="-1" href="#">Something&lt;/a>&lt;/li>
      &lt;li class="divider">&lt;/li>
      &lt;li>&lt;a role="menuitem" tabindex="-1" href="#">Separated link&lt;/a>&lt;/li>
      &lt;li class="divider">&lt;/li>
      &lt;li>&lt;a disabled="disabled" role="menuitem" tabindex="-1" href="#">Disabled&lt;/a>&lt;/li>
    &lt;/ul>
  &lt;/div>
&lt;/div>
</pre></code>
</div></div>