<div class="content large"><div class="main large"><h3>Forms</h3>
  <p>Use the classes <i>sb input</i> for Storybot style form elements. Storybot forms use the standard style buttons.</p>

<code><pre>
&lt;form>
  &lt;input type="text" class="sb input">
  &lt;button type="submit" class="sb btn green">Submit&lt;/button>
&lt;/form>
</pre></code>

  <br><br>

  <form>
    <input type="text" class="sb input" placeholder="first name">
    <button type="submit" class="sb btn green">Submit</button>
  </form>

  <br><br>

  <h6>Email Password field set</h6>

  <form>
    <fieldset class="sb">
      <fieldset class="email-password">
        <input type="text" class="sb input email" placeholder="Email"></input>
        <input type="text" class="sb input password" placeholder="Password">
      </fieldset>
      Verify Age: <input type="text" class="sb input small" id="age-textfield"> years old
    </fieldset>
  </form>

  <br><br>
  
<code><pre>
&lt;form>
  &lt;fieldset class="sb">

    &lt;fieldset class="email-password">
      &lt;input type="text" class="sb input" placeholder="Email">
      &lt;input type="text" class="sb input" placeholder="Password">
    &lt;/fieldset>

    Verify Age: &lt;input type="text" class="sb input small" id="age-textfield"> years old
    
  &lt;/fieldset>
&lt;/form>
</pre></code>
  
</div></div>