<div class="content"><div class="main large">
    <h3>Modals</h3>
    Modals have a header (<i>.modal-header</i>), body (<i>.modal-body</i>), and footer (<i>.modal-footer</i>), all of which are wrapped in the <i>modal-content</i> class. The element used to trigger the modal uses <i>data-toggle="modal"</i> and <i>data-target</i> to launch the associated modal. The <i>modal-dialog</i> class is used to position the modal on the screen.
    <br><br>
    Modals that are smaller than the browser viewport will be centered in the middle of the screen. Modals that are larger, will take up the screen and scroll.
    <br><br>
    Include the class <i>fade</i> to fade the backdrop in and out when showing the modal.
    <br><br>

<code><pre>
&lt;button data-toggle="modal" data-target="#myModal">
  Launch demo modal
&lt;/button>

&lt;div class="modal fade" id="myModal" tabindex="-1">
  &lt;div class="modal-dialog">
    &lt;div class="modal-content">
      &lt;div class="modal-header">
        &lt;button type="button" class="close" data-dismiss="modal">&lt;i class="fa fa-times">&lt;/i>&lt;/button>
        &lt;h4 class="modal-title" id="myModalLabel">Modal title&lt;/h4>
      &lt;/div>
      &lt;div class="modal-body">
        This is the body of the modal.
      &lt;/div>
      &lt;div class="modal-footer">
        &lt;button type="button" class="btn btn-default" data-dismiss="modal">Close&lt;/button>
        &lt;button type="button" class="btn btn-primary">Save changes&lt;/button>
      &lt;/div>
    &lt;/div>
  &lt;/div>
&lt;/div>
</pre></code>
</div></div>

<div class="sidebar"><b>Mixin Definition</b><br><br>
    @mixin modal($id, $back-color: $modal-background, $border: $modal-border, $color: $modal-text-color, $width-size: auto)<br><br>
    Required Parameters:<br>
    <ol>
        <li>id</li>
    </ol>
    Optional Parameters:<br>
    <ol>
        <li>background color (default is $modal-background)</li>
        <li>border color (default is $modal-border)</li>
        <li>text color (default is $modal-text-color)</li>
        <li>width size (defualt is auto)</li>
    </ol>
</div>

<div class="content large"><div class="main large">
    The <i>modal</i> mixin requires an id name as the first parameter. The id, such as "small" for example, is used as a class selector: <i>.modal.small</i>

    <br><br>
<code><pre>
&lt;div class="modal small fade" id="myModal" tabindex="-1">
  &lt;div class="modal-dialog small">
    &lt;div class="modal-content small">
            ...
</pre></code>

    <br><br>

    Optional parameters are as follows:
    <ol>
        <li>background color (default is $modal-background)</li>
        <li>border color (default is $modal-border)</li>
        <li>text color (default is $modal-text-color)</li>
        <li>width size (defualt is auto)</li>
    </ol>
    <br><br>

    <center>
    <table><caption>With the use of class "fade" for transitions</caption>
        <tr>
            <td>
                <button data-toggle="modal" data-target="#myModal">
                    Launch demo modal
                </button>

                <div class="modal small fade" id="myModal" tabindex="-1">
                  <div class="modal-dialog small">
                    <div class="modal-content small">
                      <div class="modal-header small">
                        <button type="button" class="close small" data-dismiss="modal"><i class="fa fa-times"></i></button>
                        <h4 class="modal-title small" id="myModalLabel">Modal title</h4>
                      </div>
                      <div class="modal-body small">
                          This is the body of the modal.
                      </div>
                      <div class="modal-footer small">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
            </td>
            <td>@include modal(small);</td>
        </tr>
        <tr>
            <td>
                <button data-toggle="modal" data-target="#largeModal">
                    Large Modal
                </button>

                <div class="modal large fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog large">
                      <div class="modal-content large">
                        <div class="modal-header large">
                          <button color="link3" type="button" class="close large" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                          <h4 class="modal-title large" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body large">
                            This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. 
                        </div>
                        <div class="modal-footer large">
                            <button color="white" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button color="white" type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
              </div>
            </td>
            <td>@include modal(large, #074A7B, $modal-border, #F5F4EC);</td>
        </tr>
      </table>
      <table><caption>Without the use of class "fade"</caption>
        <tr>
            <td>
                <button data-toggle="modal" data-target="#sizeModal">
                    Set Width Modal
                </button>

                <div class="modal size" id="sizeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog size">
                    <div class="modal-content size">
                      <div class="modal-header size">
                        <button type="button" class="close size" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                        <h4 class="modal-title size" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body size">
                        This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. This is the body of the modal. 
                    </div>
                    <div class="modal-footer size">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
                </div>
            </td>
            <td>@include modal(size, 950px);</td>
        </tr>
        <tr>
            <td>
                <button data-toggle="modal" data-target="#plainModal">
                    Modal
                </button>

                <div class="modal" id="plainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                          <h4 class="modal-title size" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            This is the body of the modal.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                  </div>
                </div>
            </td>
            <td>No mixin usage. Equivalent to using modal mixin without optional parameters.</td>
        </tr>
    </table>
    </center>

</div></div>