<div class="content large"><div class="main large">
  <h3>Navbars</h3>
  To use the current navbar at the top of the screen, use class <i>main-navbar</i>.
  <br><br>

<code><pre>
&lt;div class="main-navbar">

  &lt;div class="btn-group navbar-left">
    &lt;a class="btn">&lt;i class="fa fa-home">&lt;/i>&lt;/a>
    &lt;div class="btn-group">
      &lt;a class="btn dropdown-toggle" id="dropdown-menu-nav" toggle-type="dropdown">&lt;i class="fa fa-bars">&lt;/i>&lt;/a>
      &lt;ul class="dropdown-menu use-caret dropdown-menu-table responsive-nav" role="menu" aria-labelledby="dropdown-menu-nav">
        &lt;li class="column-menu">
        &lt;ul>
          &lt;li class="header">Components &lt;i class="fa fa-chevron-down">&lt;/i>&lt;/li>
          &lt;li> &lt;a class="btn-nav" href="/greetings/hello">&lt;i class="fa fa-home">&lt;/i> Hello&lt;/a>&lt;/li>
          &lt;li> &lt;a class="btn-nav" href="/greetings/buttons">&lt;i class="fa fa-youtube-play">&lt;/i> Buttons&lt;/a>&lt;/li>
          . . .
        &lt;/ul>
        &lt;/li>
        &lt;li class="column-menu">
        &lt;ul>
          &lt;li class="header">Column Two &lt;i class="fa fa-chevron-down">&lt;/i>&lt;/li>    
          &lt;li>Item&lt;/li>
          &lt;li>Item&lt;/li>
          . . .
        &lt;/ul>
        &lt;/li>
        &lt;li class="footer-menu">
        &lt;ul>
          &lt;li class="header">Footer&lt;/li>
          &lt;li>One&lt;/li>
          &lt;li>Two&lt;/li>
          . . .
        &lt;/ul>
        &lt;/li>
      &lt;/ul>
    &lt;/div>
  &lt;/div>

  &lt;div class="btn-group navbar-right">
    &lt;a class="btn">Another Button&lt;/a>
    . . .
  &lt;/div>

&lt;/div>
</pre></code>

  <br><br>

  Use the class <i>dropdown-menu-table</i> with the dropdown to use multiple columns in the dropdown menu. Each colum is a list item. For each column in the menu, use the class <i>column-menu</i>.<br>
  The <i>footer-menu</i> class causes the element to disregard the column table layout, and instead spans across the dropdown menu's width.<br>
  List items placed after a the class <i>header</i> are collapsable in smaller viewports.

</div></div>