<div class="content large"><div class="main large"><h3>Navbars</h3>
  <p>
  To use the current navbar at the top of the screen, use class <i>main-navbar</i>.
  </p>

<code><pre>
&lt;div class="main-navbar">

  &lt;div class="btn-group navbar-left">
    &lt;a class="btn">&lt;i class="fa fa-home">&lt;/i>&lt;/a>
    &lt;div class="btn-group">
      &lt;a class="btn dropdown-toggle" id="dropdown-menu-nav" toggle-type="dropdown">&lt;i class="fa fa-bars">&lt;/i>&lt;/a>
      &lt;ul class="dropdown-menu use-caret dropdown-menu-table responsive-nav" role="menu" aria-labelledby="dropdown-menu-nav">
        &lt;li class="column-menu">
        &lt;ul>
          &lt;li class="header">Components &lt;i class="fa fa-chevron-down">&lt;/i>&lt;/li>
          &lt;li> &lt;a class="btn-nav" href="/greetings/hello">&lt;i class="fa fa-home">&lt;/i> Hello&lt;/a>&lt;/li>
          &lt;li> &lt;a class="btn-nav" href="/greetings/buttons">&lt;i class="fa fa-youtube-play">&lt;/i> Buttons&lt;/a>&lt;/li>
          . . .
        &lt;/ul>
        &lt;/li>
        &lt;li class="column-menu">
        &lt;ul>
          &lt;li class="header">Column Two &lt;i class="fa fa-chevron-down">&lt;/i>&lt;/li>    
          &lt;li>Item&lt;/li>
          &lt;li>Item&lt;/li>
          . . .
        &lt;/ul>
        &lt;/li>
        &lt;li class="footer-menu">
        &lt;ul>
          &lt;li class="header">Footer&lt;/li>
          &lt;li>One&lt;/li>
          &lt;li>Two&lt;/li>
          . . .
        &lt;/ul>
        &lt;/li>
      &lt;/ul>
    &lt;/div>
  &lt;/div>

  &lt;div class="btn-group navbar-right">
    &lt;a class="btn">Another Button&lt;/a>
    . . .
  &lt;/div>

&lt;/div>
</pre></code>

  <p>
  Use the class <i>dropdown-menu-table</i> with the dropdown to use multiple columns in the dropdown menu. Each colum is a list item. For each column in the menu, use the class <i>column-menu</i>.<br>
  The <i>footer-menu</i> class causes the element to disregard the column table layout, and instead spans across the dropdown menu's width.<br>
  List items placed after a the class <i>header</i> are collapsable in smaller viewports.
  </p>
</div>

<div class="main large"><h3>Filter Bar</h3>
  <p>The Storybot filter bar uses the class <i>filter-bar</i> and consists of buttons in a button group.<br>Use the classes <i>active hover</i> to select one of the options.</p>

  <div class="btn-group filter-bar" data-toggle="buttons">
    <a class="sb btn active hover">All Apps</a>
    <a class="sb btn">iPad</a>
    <a class="sb btn">iPhone</a>
    <a class="sb btn">Web</a>
  </div>
  <br><br>

<code><pre>
&lt;div class="btn-group filter-bar" data-toggle="buttons">
  &lt;a class="sb btn active hover">All Apps&lt;/a>
  &lt;a class="sb btn">iPad&lt;/a>
  &lt;a class="sb btn">iPhone&lt;/a>
  &lt;a class="sb btn">Web&lt;/a>
&lt;/div>
</pre></code>
</div>

<div class="main large"><h3>Side Navigation Bar</h3>
  <p>The Storybots side navbar uses the classes <i>sb side-navbar</i> and consists of buttons in a button group.<br>Use the classes <i>active hover</i> to select one of the options.</p>

  <div class="sb btn-group side-navbar" data-toggle="buttons">
    <a class="sb btn">Free Videos<i class="fa fa-chevron-right"></i></a>
    <a class="sb btn active hover">Animal Jams<i class="fa fa-chevron-right"></i></a>
    <a class="sb btn">Classic Songs<i class="fa fa-chevron-right"></i></a>
    <a class="sb btn">Outer Space<i class="fa fa-chevron-right"></i></a>
    <a class="sb btn">ABC Videos<i class="fa fa-chevron-right"></i></a>
  </div>
  <br><br>

<code><pre>
&lt;div class="sb btn-group side-navbar" data-toggle="buttons">
  &lt;a class="sb btn">Free Videos&lt;i class="fa fa-chevron-right">&lt;/i>&lt;/a>
  &lt;a class="sb btn active hover">Animal Jams&lt;i class="fa fa-chevron-right">&lt;/i>&lt;/a>
  &lt;a class="sb btn">Classic Songs&lt;i class="fa fa-chevron-right">&lt;/i>&lt;/a>
  &lt;a class="sb btn">Outer Space&lt;i class="fa fa-chevron-right">&lt;/i>&lt;/a>
  &lt;a class="sb btn">ABC Videos&lt;i class="fa fa-chevron-right">&lt;/i>&lt;/a>
&lt;/div>
</pre></code>

</div></div>