<div class="content large"><div class="main large"><h3>Storybot Video Player</h3>
  <h6>Video Player</h6>

  <center>
  <div id="firefox-sucks">
    <video id="storybots-video" class="video-js sb-default-skin vjs-big-play-centered" controls preload="auto" width="auto" height="auto"
        data-setup="{}">
      <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
      <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
    </video>
  </div>
  </center>
  <br><br><br><br><br><br><br><br><br><br><br><br>

<code><pre>
&lt;video id="video_id" class="video-js sb-default-skin vjs-big-play-centered " controls preload="none" width="640" height="264"
    poster="http://video-js.zencoder.com/oceans-clip.png"
    data-setup="{}">
  &lt;source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
  &lt;source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
  &lt;source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
  &lt;track kind="captions" src="demo.captions.vtt" srclang="en" label="English">&lt;/track>&lt;!-- Tracks need an ending tag thanks to IE9 -->
  &lt;track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English">&lt;/track>&lt;!-- Tracks need an ending tag thanks to IE9 -->
&lt;/video>
</pre></code>

  <center>
  <h6>Video Thumbnails</h6>
  <p>
    Video thumbnails are wrapped in a <i>thumnail</i> class.
    If this class has the attribute <i>disabled="disabled"</i>, the video thumbnail will be locked.
  </p>


  <div class="well">
    <div class="list-items">
      <li>
        <div class="thumbnail">
          <input type="image" src="<%= image_path("row.png") %>" alt="be-the-star Videos">
        </div>
      </li>
      <li>Unlocked:<br>class="thumbnail"</li>
      <li>
        <div class="thumbnail" disabled="disabled">
          <input type="image" src="<%= image_path("row.png") %>" alt="be-the-star Videos">
        </div>
      </li>
      <li>Locked:<br>class="thumbnail" disabled="disabled"</li>
    </div>
  </div>
  </center>

<code><pre>
&lt;div class="thumbnail">
  &lt;input type="image" src="&lt;%= image_path("row.png") %>" alt="be-the-star Videos">
&lt;/div>
&lt;div class="thumbnail" disabled="disabled">
  &lt;input type="image" src="&lt;%= image_path("row.png") %>" alt="be-the-star Videos">
&lt;/div>
</pre></code>

<br><br>

<div style="margin:0 auto; width: 634px; height:120px;">
<!-- "previous page" action -->
<a class="prev browse left btn green"></a>
 
<!-- root element for scrollable -->
<div class="scrollable" id="scrollable">
 
  <!-- root element for the items -->
  <div class="items">
 
    <!-- 1-5 -->
    <div>
      <img src="http://farm1.static.flickr.com/143/321464099_a7cfcb95cf_t.jpg" />
      <img src="http://farm4.static.flickr.com/3089/2796719087_c3ee89a730_t.jpg" />
      <img src="http://farm1.static.flickr.com/79/244441862_08ec9b6b49_t.jpg" />
      <img src="http://farm1.static.flickr.com/28/66523124_b468cf4978_t.jpg" />
    </div>
 
    <!-- 5-10 -->
    <div>
      <img src="http://farm1.static.flickr.com/163/399223609_db47d35b7c_t.jpg" />
      <img src="http://farm1.static.flickr.com/135/321464104_c010dbf34c_t.jpg" />
      <img src="http://farm1.static.flickr.com/40/117346184_9760f3aabc_t.jpg" />
      <img src="http://farm1.static.flickr.com/153/399232237_6928a527c1_t.jpg" />
    </div>
 
    <!-- 10-15 -->
    <div>
      <img src="http://farm4.static.flickr.com/3629/3323896446_3b87a8bf75_t.jpg" />
      <img src="http://farm4.static.flickr.com/3023/3323897466_e61624f6de_t.jpg" />
      <img src="http://farm4.static.flickr.com/3650/3323058611_d35c894fab_t.jpg" />
      <img src="http://farm4.static.flickr.com/3635/3323893254_3183671257_t.jpg" />
    </div>
 
  </div>
 
</div>
 
<!-- "next page" action -->
<a class="next browse right btn green"></a>
</div>

</div></div>