<div class="content large"><div class="main large"><h3>Storybot Video Player</h3>
  <h6>Video Player</h6>

  <center>
  <div id="firefox-sucks">
    <video id="storybots-video" class="video-js sb-default-skin vjs-big-play-centered" controls preload="auto" width="auto" height="auto"
        data-setup="{}">
      <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
      <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
    </video>
  </div>
  </center>
  <br><br><br><br><br><br><br><br><br><br><br><br>

<code><pre>
&lt;video id="video_id" class="video-js sb-default-skin vjs-big-play-centered " controls preload="none" width="640" height="264"
    poster="http://video-js.zencoder.com/oceans-clip.png"
    data-setup="{}">
  &lt;source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
  &lt;source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
  &lt;source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
  &lt;track kind="captions" src="demo.captions.vtt" srclang="en" label="English">&lt;/track>&lt;!-- Tracks need an ending tag thanks to IE9 -->
  &lt;track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English">&lt;/track>&lt;!-- Tracks need an ending tag thanks to IE9 -->
&lt;/video>
</pre></code>

  <center>
  <h6>Video Thumbnails</h6>
  <p>
    Video thumbnails are wrapped in a <i>thumnail</i> class.
    If this class has the attribute <i>disabled="disabled"</i>, the video thumbnail will be locked.
  </p>


  <div class="well">
    <div class="list-items">
      <li>
        <div class="thumbnail">
          <input type="image" src="<%= image_path("row.png") %>" alt="be-the-star Videos">
        </div>
      </li>
      <li>Unlocked:<br>class="thumbnail"</li>
      <li>
        <div class="thumbnail" disabled="disabled">
          <input type="image" src="<%= image_path("row.png") %>" alt="be-the-star Videos">
        </div>
      </li>
      <li>Locked:<br>class="thumbnail" disabled="disabled"</li>
    </div>
  </div>
  </center>

<code><pre>
&lt;div class="thumbnail">
  &lt;input type="image" src="&lt;%= image_path("row.png") %>" alt="be-the-star Videos">
&lt;/div>
&lt;div class="thumbnail" disabled="disabled">
  &lt;input type="image" src="&lt;%= image_path("row.png") %>" alt="be-the-star Videos">
&lt;/div>
</pre></code>

</div></div>