<div class="content"><div class="main large"><h3>Typography</h3>
  <center>
    <table class="well"><caption><h5>Headings</h5></caption>
    <tr>
      <td>h1</td>
      <td><center><h1>Header One</h1></center></td>
    </tr>
    <tr>
      <td>h2</td>
      <td><center><h2>Header Two</h2></center></td>
    </tr>
    <tr>
      <td>h3</td>
      <td><center><h3>Header Three</h3></center></td>
    </tr>
    <tr>
      <td>h4</td>
      <td><center><h4>Header Four</h4></center></td>
    </tr>
    <tr>
      <td>h5</td>
      <td><center><h5>Header Five</h5></center></td>
    </tr>
    <tr>
      <td>h6</td>
      <td><center><h6>Header Six</h6></center></td>
    </tr>
    </table>
  </center>

  <center>
    <table class="well"><caption><h5>Paragraph</h5></caption>
    <tr>
      <td>p</td>
      <td><center><p>Here is a paragraph.</p></center></td>
    </tr>
    </table>
  </center>

</div></div>