//
// Alphabet Soup
// --------------------------------------------------------------------------

@font-face { 
  font-family: AlphabetSoup; 
  src: url('/assets/Alphabet Soup Pro/AlphabetSoup.otf');
  font-weight: normal;
  font-style: normal;
}

//
// Proxima Nova
// --------------------------------------------------------------------------

@font-face { 
  font-family: ProximaNova; 
  src: url('/assets/Proxima Nova/Proxima Nova Regular/ProximaNova-Reg.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face { 
  font-family: ProximaNova; 
  src: url('/assets/Proxima Nova/Proxima Nova Semibold/ProximaNova-Sbold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face { 
  font-family: ProximaNova; 
  src: url('/assets/Proxima Nova/Proxima Nova Bold/ProximaNova-Bold.otf');
  font-weight: 900; //bolder
  font-style: normal;
}

@font-face { 
  font-family: ProximaNova; 
  src: url('/assets/Proxima Nova/Proxima Nova Light/ProximaNova-Light.otf');
  font-weight: 200; //lighter
  font-style: normal;
}

@font-face { 
  font-family: ProximaNova; 
  src: url('/assets/Proxima Nova/Proxima Nova Italic/ProximaNova-RegIt.otf');
  font-weight: normal;
  font-style: italic;
}

//
// Museo Sans Rounded
// --------------------------------------------------------------------------

@font-face { 
  font-family: MuseoSans; 
  src: url('/assets/Museo Sans Rounded/Museo Sans Rounded 900-desktop/MuseoSansRounded-900.otf');
  font-weight: normal;
  font-style: normal;
}