//
// Alphabet Soup
// --------------------------------------------------------------------------

@font-face { 
  font-family: AlphabetSoup; 
  src: url('/assets/Alphabet Soup Pro/AlphabetSoup.otf');
  font-weight: normal;
  font-style: normal;
}

//
// Proxima Nova
// --------------------------------------------------------------------------

@include font-face(ProximaNova, '/assets/Proxima Nova/Proxima Nova Regular/ProximaNova-Reg-webfont', normal, 400);

@include font-face(ProximaNova, '/assets/Proxima Nova/Proxima Nova Bold/ProximaNova-Bold-webfont', normal, 900);

@include font-face(ProximaNova, '/assets/Proxima Nova/Proxima Nova Light/ProximaNova-Light-webfont', normal, 200);

@include font-face(ProximaNova, '/assets/Proxima Nova/Proxima Nova Italic/ProximaNova-RegIt-webfont', normal, italic);

@font-face { 
  font-family: ProximaNova; 
  src: url('/assets/Proxima Nova/Proxima Nova Semibold/ProximaNova-Sbold.otf');
  font-weight: bold;
  font-style: normal;
}

//
// Museo Sans Rounded
// --------------------------------------------------------------------------

@include font-face(MuseoSans, '/assets/Museo Sans Rounded/MuseoSansRounded-900-webfont', normal, 400);