//
// Typography
// --------------------------------------------------


// Heading Text
// -------------------------
//

h1 {
  font-family: AlphabetSoup;
  font-size: 36px;
  text-transform: capitalize;
}

h2,
h3, 
h4,
h5 {
  font-family: MuseoSans;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

// Body Text
// -------------------------
//

p {
  font-family: ProximaNova, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}


//
// Fonts for Modules
// --------------------------------------------------------------------------

@mixin nav-font() {
  font-size: 15px;
  font-family: MuseoSans;
  text-align: center;
  text-decoration: none;
  color: #2F3442;

  &:hover {
    color:#E4DCD3;
  }
}

@mixin modal-font($type, $color: $default-modal-text-color) {
  color: $color;

  @if $type == header {
    font-family: AlphabetSoup;
    font-size: 17px;
  }

  @if type == body {
    font-family: ProximaNova;
    font-size: 12px;
  }
}