//
// Main Navbar
// --------------------------------------------------

.main-navbar {
  @include inline-block();
  background-color: $black;
  position: relative;
  width: 100%;

  &.static-top {
    position: absolute;
    top: 0px;
  }

  .btn {
    @include pad(10px 12px);
    margin: 0px;
    font-size: 20px;
  }

  @include media($desktop) {
    height: 80px;

    .navbar-left {
      margin-left: 20px;
    }

    .navbar-right {
      margin-right: 20px;
    }

    .navbar-left,
    .navbar-right {
      @include transform(translateY(-50%));
      top: 50%;
      margin-right: 20px;
    }
  }

  @include media($tablet) {
    height: 50px;

    .btn {
      @include border-radius(0px);
    }
  }
}

.navbar-left {
  float: left;
}

.navbar-right {
  float: right;
}

@import "elements/navbars/sb-main-navbar";