.sb.main-navbar {
  background-color: $blue;
  $radius: $default-dropdown-border-radius;

  .btn {
    font-size: 25px;
  }

  #left-menu {
    li > a {
      @include border-radius($radius);
    }
  }

  #right-menu {
    &::after {
      left: 200px;
    }

    ul {
      @include pad(0px);
    }

    li {
      @include pad(0px);
      border-bottom: 1px solid $light-beigey;

      &:last-child {
        border-bottom: 0px;
      }

      > a {
        @include pad(15px 20px 15px 10px);
        @include border-radius(0px);
        min-width: 240px;
      }

      &:first-child:not(last-child) > a {
        @include border-radius-top($radius);
      }

      &:last-child:not(first-child) > a {
        @include border-radius-bottom($radius);
      }
    }
  }

  #left-menu,
  #right-menu {
    &::before {
      display: none;
    }

    &::after {
      top: -13px;
      border-right: 13px solid transparent;
      border-bottom: 13px solid white;
      border-left: 13px solid transparent;
    }

    @include media($desktop) {
      margin-top: 20px;
    }

    @include media($tablet) {
      li > a,
      .footer-menu {
        @include border-radius(0px);
      }
    }
  }
}