.sb.side-navbar {
  border-radius: 7px;

  .btn {
    background-color: white;
    border: 1px solid #EDE6DC;
    min-height: 50px;
    line-height: 28px;

    font-family: ProximaNova;
    font-size: 18px;
    color: $black;

    i {
      line-height: 28px;

      &.fa-chevron-right {
        color: $beigey;
      }

      &:not(.fa-chevron-right) {
        color: $light-blue;
      }
    }

    &:hover,
    &.hover {
      background-color: $light-beigey;
      color: white;

      &:active,
      &.active {
        @include box-shadow(none);
        background-color: #71C7EE;

        i {
          color: white;
        }
      }
    }
  }
}