//
// Sprites
// -------------------------------------------------------------------

.sb.side-navbar {
  .sprite {
    display: inline-block;
    background-image: asset-url('side-navbar-sprites.png', image);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;

    position: relative;
    vertical-align: middle;
    top: -2px;
  }

  #abcs {
    background-position:  -1px -1px;
  }

  #animals {
    background-position: -45px -1px;
  }

  #classics {
    background-position: -23px -23px;
  }

  #free {
    background-position: -1px -45px;
  }

  #space {
    background-position: -45px -44px;
  }
}

//
// Storybots Side Nav
// -------------------------------------------------------------------

.sb.side-navbar {
  border-radius: $default-dropdown-border-radius;

  .btn {
    background-color: white;
    border: 1px solid #EDE6DC;
    min-height: 50px;
    line-height: 28px;

    font-family: ProximaNova;
    font-size: 18px;
    color: $black;

    i {
      line-height: 28px;

      &.fa-chevron-right {
        color: $beigey;
      }

      &:not(.fa-chevron-right) {
        color: $light-blue;
      }
    }

    &:hover,
    &.hover {
      background-color: $light-beigey;
      color: white;

      &:active,
      &.active {
        @include box-shadow(none);
        background-color: #71C7EE;

        #abcs {
          background-position: -23px -1px;
        }
        #animals {
          background-position: -1px -23px;
        }
        #classics {
          background-position: -45px -23px;
        }
        #free {
          background-position: -23px -45px;
        }
        #space{
          background-position: -67px 0px;
        }

        i {
          color: white;
        }
      }
    }
  }
}