//
// Sprites
// -------------------------------------------------------------------

.side-navbar {
  .sprite {
    display: inline-block;
    background-image: asset-url('nav-bar/side-navbar-sprites.png', image);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;

    position: relative;
    vertical-align: middle;
    top: -2px;
  }

  #abcs {
    background-position:  -1px -1px;
  }

  #animals {
    background-position: -45px -1px;
  }

  #classics {
    background-position: -23px -23px;
  }

  #free {
    background-position: -1px -45px;
  }

  #space {
    background-position: -45px -44px;
  }
}

//
// Side Navbar
// --------------------------------------------------

.side-navbar {
  $radius: $default-dropdown-border-radius;

  @include border-radius($radius);
  position: relative;
  display: inline-block;
  vertical-align: middle; // match .btn alignment given font-size hack above

  > .btn,
  &.btn-group > .btn {
    position: relative;
    float: left;
    margin: 0px;
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    border-radius: 0px;

    // Bring the "active" button to the front
    &:hover,
    &:focus,
    &:active,
    &.active {
      z-index: 2;
    }

    &:focus {
      // Remove focus outline when dropdown JS adds it after closing the menu
      outline: none;
    }

    i {
      &.fa-chevron-right {
        float: right;
        margin-left: 30px;
      }

      &:not(.fa-chevron-right) {
        margin-right: 10px;
      }
    }
  }

  > .btn + .btn {
    margin-top: -1px;
    margin-left: 0;
  }

  > .btn,
  &.btn-group > .btn {
    &:first-child,
    &:first-child:not(:last-child):not(.dropdown-toggle) {
      @include border-radius-top($radius);
    }
    &:last-child,
    &:last-child:not(:first-child) {
      @include border-radius-bottom($radius);
    }
  }

  .btn {
    background-color: white;
    border: 1px solid #EDE6DC;
    min-height: 50px;
    line-height: 28px;

    font-family: ProximaNova;
    font-size: 18px;
    color: $black;

    i {
      line-height: 28px;

      &.fa-chevron-right {
        color: $beigey;
      }

      &:not(.fa-chevron-right) {
        color: $light-blue;
      }
    }

    &:hover,
    &.hover {
      background-color: $light-beigey;
      color: white;

      &:active,
      &.active {
        @include box-shadow(none);
        background-color: #71C7EE;

        #abcs {
          background-position: -23px -1px;
        }
        #animals {
          background-position: -1px -23px;
        }
        #classics {
          background-position: -45px -23px;
        }
        #free {
          background-position: -23px -45px;
        }
        #space{
          background-position: -67px 0px;
        }

        i {
          color: white;
        }
      }
    }
  }
}