//
// Modal
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

.modal-open {
  overflow: hidden;
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: ($default-modal-z-index - 10);
  background-color: $default-modal-backdrop-color;

  // Fade for backdrop
  &.fade { 
    opacity: 0;
    @include transition(opacity 0.3s ease-out);
  }

  &.in { 
    opacity: 0.8;
  }
}

.modal {
  display: none;
  overflow: auto;
  overflow-y: auto;
  position: fixed;
  outline: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $default-modal-z-index;

  // Transition for Modal
  &.fade > .modal-dialog {
    @include transition(all 0.3s ease-out);
  }
}

// Shell div to position the modal
.modal-dialog {
  @include pad(default);
  @include transform(translateX(-50%));
  position: absolute;
  left: 50%;
  z-index: ($default-modal-z-index + 10);
  width: auto;

  @include media($mobile) {
    width: 90%;
  }
}

// Actual modal
.modal-content {
  @include border-radius(10px);
  position: relative;
  outline: none;
  background-color: $default-modal-background;
  border: 1px solid $default-modal-background;
  
  $shadow: 0 3px 9px rgba(0,0,0,.5);
  @include box-shadow($shadow);
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  @include pad(20px);
  @include modal-font(header, $default-modal-text-color);
  border-bottom: 1px solid $default-modal-border;

  // Close icon
  .close {
    @include pad(5px 8px);
    @include border-radius(25px);
    margin-top: -15px;
    margin-right: -15px;
    float: right;
  }
}

// Title text within header
.modal-title {
  margin: 0px;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  @include pad(20px);
  position: relative;
  @include modal-font(body, $default-modal-text-color);
}

// Footer (for actions)
.modal-footer {
  @include pad(10px);
  margin-top: 15px;
  text-align: right; // right align buttons
  border-top: 1px solid $default-modal-border;
}


//
// Modal Mixin
// --------------------------------------------------

@mixin modal($id, $back-color, $color, $border, $width-size: auto) {
  .modal-dialog.#{$id} {
    width: $width-size;  

    @include media($tablet) {
      @if $width-size != auto {
        @include transform(translateX(0px));
        left: 0px;
      }
    }

    @include media($mobile) {
      @if $width-size == auto {
        width: 90%;
      }
      @else {
        @include transform(translateX(0px));
        left: 0px;
      }
    }
  }

  .modal-content.#{$id} {
    background-color: $back-color;
    border: 1px solid $back-color;
  }

  .modal-header.#{$id} {
    @include modal-font(header, $color);
    @include pad(20px);
    border-bottom: 1px solid $border;
  }

  .modal-body.#{$id} {
    @include modal-font(body, $color);
  }

  .modal-footer.#{$id} {
    border-top: 1px solid $border;
  }
}

@import "elements/modals/sb-modal";