//
// Buttons
// -------------------------------------------------------------------

@mixin btn($style, $color: white) {

  @if $style == flat {
    @include btn-flat($color);
  }
  @else if $style == raised {
    @include btn-raised($color);
  }

  @include user-select(none);
  @include inline-block;

  margin: 5px;
  border: 0px;

  text-decoration: none;
  cursor: pointer;

  &:focus {
    outline-width: 0px;
  }

  &:disabled,
  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

//
// Flat Button
// -------------------------------------------------------------------

@mixin btn-flat($color) {

  $hover-color: tint($color, 30%);
  $text-color: $default-btn-text-color;

  // If the button color is light, make text color light and what not
  @if lightness($color) > 50% {
    $hover-color: shade($color, 20%);
    $text-color: $default-btn-text-dark;
  }

  $shadow-color: shade($hover-color, 10%);
  $shadow: 0px 1px 5px 3px $shadow-color inset;

  @include pad(10px 15px);
  @include border-radius(5px);
  background-color: $color;

  font-family: ProximaNova;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  color: $text-color;

  &[toggle-type=dropdown] {
    margin-bottom: 0px;
  }

  &.hover,
  &:hover {
    background-color: $hover-color;

    &.active,
    &:active {
      @include box-shadow($shadow);
    }
  }

  &:disabled,
  &[disabled] {

    &:hover,
    &:focus {
      background-color: $color;

      &:active {
        @include box-shadow(none);
      }
    }
  }
}

//
// Raised Button
// -------------------------------------------------------------------

@mixin btn-raised($color) {

  $border-color:  tint($color, 35%);
  $shadow-color:  shade($color, 15%);
  $hover-color:   $border-color;
  $grad-top:      $border-color;
  $grad-bottom:   $color;
  $text-color:    $default-btn-text-color;
  $shadow:        0px 5px 0px $shadow-color;
  $shadow-hover:  0px 2px 0px $shadow-color;

  @if lightness($color) > 50% {
    $border-color:  darken($color, 30%);
    $shadow-color:  shade($border-color, 15%);
    $hover-color:   shade($color, 5%);
    $grad-top:      $color;
    $grad-bottom:   $border-color;
    $text-color:    $default-btn-text-dark;
  }

  @include linear-gradient($grad-top, $grad-bottom);

  @include pad(10px 45px 0px 45px);
  @include border-radius(15px);
  border: 1px solid $border-color;
  @include box-shadow($shadow);

  position: relative;

  font-family: AlphabetSoup;
  font-size: 40px;
  font-weight: normal;
  color: $text-color;

  &.hover,
  &:hover {
    @include linear-gradient($hover-color, $hover-color);
    @if lightness($color) > 50% {
      border-color: $hover-color
    }

    &.active,
    &:active {
      top: 3px;
      @include box-shadow($shadow-hover);
    }
  }

  &:disabled,
  &[disabled] {

    &:hover,
    &:focus {
      @include linear-gradient($grad-top, $grad-bottom);
      border-color: $border-color;

      &:active {
        top: 0px;
        @include box-shadow($shadow);
      }
    }
  }
}

@import "modules/buttons/button-group";
@import "modules/buttons/button-standard";
@import "modules/buttons/button-photo-source";
@import "modules/buttons/button-big-green";
@import "modules/buttons/button-close";
@import "modules/buttons/sb-button";
@import "modules/buttons/sb-button-group";