//
// Button Groups
// -------------------------------------------------------------------

@mixin btn-group() {

  @include inline-block;
  position: relative;
  vertical-align: middle;

  > .btn {
    position:relative;
    float: left;

    &:hover,
    &:focus,
    &:active,
    &.active {
      z-index: 2;
    }

    &:focus {
      outline: none;
    }

    &:not(:first-child):not(:last-child):not(.dropdown-toggle) {
      @include border-radius(0px);
      margin-right: 0px;
      margin-left: 0px;
    }

    &:first-child {
      margin-left: 0px;

      &:not(:last-child):not(.dropdown-toggle) {
        @include border-radius-right(0px);
        margin-right: 0px;
      }
    }

    &:last-child:not(:first-child) {
      @include border-radius-left(0px);
      margin-left: 0px;
    }
  }

  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    margin-left: -1px;
  }

  // Need .dropdown-toggle since :last-child doesn't apply given a .dropdown-menu immediately after it
  > .btn:last-child:not(:first-child),
  > .dropdown-toggle:not(:first-child) {
    @include border-radius-left(0px);
    margin-left: 0px;
  }

  // Custom edits for including btn-groups within btn-groups (useful for including dropdown buttonss within a btn--group)
  > .btn-group {
    float: left;
  }

  > .btn-group:not(:first-child):not(:last-child) > .btn {
    @include border-radius(0px);
  }

  > .btn-group:first-child:not(:last-child) {
    > .btn:last-child,
    > .dropdown-toggle {
      @include border-radius-right(0px);
    }
  }

  > .btn-group:last-child > .btn:first-child {
    @include border-radius-left(0px);
  }

  > .btn-group:last-child > .btn:last-child {
    @include border-radius-left(0px);
  }
}