nav {
  @include outer-container();
  background-color: #e4dcd3;

  .nav-items {
    @include clearfix;
    @include pad(0px);

    a {
      @include nav-font();
      //@include fill-parent();
      display: block;
    }

    li {
      @include list(6);
      background-color: inherit;

      &:hover {
        background-color: #f5f4ec;
      }
    }

    i {
      padding-right: 5px;
    }
  }
}

//
// Navs
// --------------------------------------------------


// Base class
// --------------------------------------------------

.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @include clearfix();

  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
      padding: $nav-link-padding;
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: $nav-link-hover-bg;
      }
    }

    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled > a {
      color: $nav-disabled-link-color;

      &:hover,
      &:focus {
        color: $nav-disabled-link-hover-color;
        text-decoration: none;
        background-color: transparent;
        cursor: not-allowed;
      }
    }
  }

  // Prevent IE8 from misplacing imgs
  > li > a > img {
    max-width: none;
  }
}

//
// Navbar
// --------------------------------------------------


// Wrapper and base class
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  position: relative;
  margin-bottom: $navbar-margin-bottom;
  border: 1px solid transparent;

  // Prevent floats from breaking the navbar
  @include clearfix();

  li.active {
    color: $navbar-default-link-active-color;
    background-color: $navbar-default-link-active-bg;
  }
  @include media($desktop) {
    border-radius: $navbar-border-radius;
  }
}


// Navbar heading
//
// Groups `.navbar-brand` and `.navbar-toggle` into a single component for easy
// styling of responsive aspects.

.navbar-header {
  @include clearfix();

  @include media($desktop) {
    float: left;
  }
}


// Navbar collapse (body)
//
// Group your navbar content into this for easy collapsing and expanding across
// various device sizes. By default, this content is collapsed when <768px, but
// will expand past that for a horizontal display.
//
// To start (on mobile devices) the navbar links, forms, and buttons are stacked
// vertically and include a `max-height` to overflow in case you have too much
// content for the user's viewport.

.navbar-collapse {
  @include clearfix();
  @include transition(max-height 0.3s); //transition over max-height because doesn't work with height: auto
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
  -webkit-overflow-scrolling: touch;
  overflow: visible;
  max-height: 1000px;
  height: auto;

  &.collapsed{
    overflow: hidden;
    border: 0px;
  }

  &.expanded {
    @include media($tablet) {
      .navbar-form {
        padding-top: 5px;
      }
    }
  }

  @include media($desktop) {
    width: auto;
    border-top: 0;
    box-shadow: none;

    &.collapsed {
      display: block;
      height: auto;
      max-height: 1000px;
      padding-bottom: 0; // Override default setting
      overflow: visible;
    }

    &.expanded {
      height: auto;
      max-height: 1000px;
    }

    .navbar-text:last-child {
      margin-right: 0;
    }
  }
}


//
// Navbar alignment options
//
// Display the navbar across the entirety of the page or fixed it to the top or
// bottom of the page.

// Static top (unfixed, but 100% wide) navbar
.navbar-static-top {
  z-index: $zindex-navbar;
  border-width: 0 0 1px;

  @include media($desktop) {
    border-radius: 0;
  }
}

// Fix the top/bottom navbars when screen real estate supports it
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: $zindex-navbar-fixed;

  // Undo the rounded corners
  @include media($desktop) {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0; // override .navbar defaults
  border-width: 1px 0 0;
}


// Brand/project name

.navbar-brand {
  float: left;
  padding: $navbar-padding-vertical $navbar-padding-horizontal;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: $font-size-large;
  line-height: $line-height-computed;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

// Navbar toggle
//
// Custom button for toggling the `.navbar-collapse`, powered by the collapse
// JavaScript plugin.

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: $navbar-padding-horizontal;
  padding: 9px 10px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: $border-radius-base;

  // Added "!important" to apply to <button> (not just <a>)
  @include media($desktop) {
    display: none !important;
  }
}


// Navbar nav links
//
// Builds on top of the `.nav` components with it's own modifier class to make
// the nav the full height of the horizontal nav (above 768px).

.navbar-nav {
  > li > a {
    padding-top:    10px;
    padding-bottom: 10px;
    line-height: $line-height-computed;
  }

  // Uncollapse the nav
  @include media($desktop) {
    float: left;
    margin: 0;

    > li {
      float: left;
      > a {
        padding-top: (($navbar-height - $line-height-computed) / 2);
        padding-bottom: (($navbar-height - $line-height-computed) / 2);
      }
    }
  }
}


// Component alignment
//
// Repurpose the pull utilities as their own navbar utilities to avoid specificity
// issues with parents and chaining. Only do this when the navbar is uncollapsed
// though so that navbar contents properly stack and align in mobile.

@include media($desktop) {
  .navbar-left  { 
    float: left !important;
  }
  .navbar-right { 
    float: right !important; 
  }
}


// Navbar form
//
// Extension of the `.form-inline` with some extra flavor for optimum display in
// our navbars.

.navbar-form {
  margin-top: 0px;
  margin-bottom: 0px;

  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  $shadow: inset 0px 1px 0px rgba(255,255,255,.1), 0px 1px 0px rgba(255,255,255,.1);
  @include box-shadow($shadow);

  display: block;

  // Mixin behavior for optimum display
  @include form-inline();

  .form-group {
    @include media($tablet) {
      @include pad(5px);
      margin-bottom: 5px;

      .form-control {
        width: 100%;
      }
    }
  }

  // Undo 100% width for pull classes
  @include media($desktop) {
    width: auto;
    border: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    @include box-shadow(none);
  }
}

// Default navbar
.navbar-default {
  background-color: $navbar-default-bg;
  border-color: $navbar-default-border;

  .navbar-brand {
    color: $navbar-default-brand-color;
    &:hover,
    &:focus {
      color: $navbar-default-brand-hover-color;
      background-color: $navbar-default-brand-hover-bg;
    }
  }

  .navbar-text {
    color: $navbar-default-color;
  }

  .navbar-nav {
    > li > a {
      color: $navbar-default-link-color;

      &:hover,
      &:focus {
        color: $navbar-default-link-hover-color;
        background-color: $navbar-default-link-hover-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
  }

  .navbar-toggle {
    border-color: $navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-default-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $navbar-default-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $navbar-default-border;
  }

  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.
  .navbar-link {
    color: $navbar-default-link-color;
    &:hover {
      color: $navbar-default-link-hover-color;
    }
  }

  &.small {
    .navbar-toggle {
      float: none;
      
      // Added "!important" to apply to <button> (not just <a>)
      @include media($desktop) {
        display: inline-block !important;
      }
    }

    @include media($desktop) {
      .navbar-collapse {
        display: none;
      }
    }
  }
}

.main-navbar {
  @include inline-block();
  width: 100%;
  height: 80px;
  background-color: $black;
  position: relative;

  &.static-top {
    position: absolute;
    top: 0px;
  }

  .navbar-left {
    margin-left: 20px;
    float: left;
  }

  .navbar-right {
    margin-right: 20px;
    float: right;
  }

  .navbar-left,
  .navbar-right {
    top: 50%;
    @include transform(translateY(-50%));
  }

  .btn {
    @include pad(12px 15px);
    margin: 0px;
    font-size: 20px;
  }

  @include media($tablet) {
    height: 50px;

    .navbar-left,
    .navbar-right {
      margin: 0px;
    }

    .btn {
      border-radius: 0px;
    }
  }
}