.sb.dropdown.dropdown-menu {
  @include dropdown-menu(white, $black, true);
  @include border-radius(7px);
  @include box-shadow(0px 0px 12px 0px tint(black, 65%));
  border: 0px;
  margin-top: 20px;
  
  &::before {
    border-bottom: 7px solid white;
  }

  li {
    > a {
      @include border-radius(0px);
      font-family: ProximaNova;
      font-size: 18px;

      &:hover,
      &:focus {
        background-color: #61C1EC;

        &:active {
          color: $black;
        }
      }

      &:disabled,
      &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover,
        &:focus {
          background-color: transparent;

          &:active {
            background-color: transparent;
          }
        }
      }
    }

    &:not(.divider) {
      line-height: 36px;
    }

    &.divider {
      background-color: #EBEBEC;
    }
  }
}