//
// Default Values
// -------------------------------------------------------------------

$white:  #F5F4EC;
$black:  #505667;
$green:  #19AE58;
$purple: #9A67B0;
$blue:   #1F7FB5;
$gray:   #9FA3AE;
$red:    #FD5F5A;
$yellow: #EED41F;
$beigey: #D8C8B2;

$dark-green:   shade($green, 15%);
$dark-blue:    #074B75;
$light-blue:   #34AFE7;
$light-beigey: #F6F2ED;

$default-code-background: #F0F0F0;

//
// Button Defaults
// -------------------------------------------------------------------

$default-btn-color: #19AE58;
$default-btn-text-color: $white;
$default-btn-text-dark: $black;

//
// Dropdown Defaults
// -------------------------------------------------------------------

$default-dropdown-background: #ECECF2;
$default-dropdown-text-color: #6D707B;
$default-dropdown-border-radius: 5px;
$default-dropdown-z-index: 1000;

//
// Modal Defaults
// -------------------------------------------------------------------

$default-modal-z-index: 1040;
$default-modal-backdrop-color: #000000;
$default-modal-background: $white;
$default-modal-border: #D8C8B2;
$default-modal-text-color:$dark-blue;