//
// Helper Functions
// -------------------------------------------------------------------

@mixin background-size($width, $height) {
  -webkit-background-size: $width $height;
  -moz-background-size: $width $height;
  background-size: $width $height;
}

@mixin border-radius-right($x) {
  border-top-right-radius: $x;
  border-bottom-right-radius: $x;
}

@mixin border-radius-left($x) {
  border-top-left-radius: $x;
  border-bottom-left-radius: $x;
}

@mixin border-radius-top($x) {
  border-top-right-radius: $x;
  border-top-left-radius: $x;
}

@mixin border-radius-bottom($x) {
  border-bottom-right-radius: $x;
  border-bottom-left-radius: $x;
}

//
// Striped Backgrounds
// -------------------------------------------------------------------
@mixin striped-bkgrd($color: $default-code-background, $type: horizontal) {
  @include background-size(50px, 50px); /* Controls the size of the stripes */

  @if type-of($color) != color {
    $type: $color;
    $color: $default-code-background;
  }

  @if $type == angled {
    @include linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
      transparent 75%, transparent, $fallback: $color);
  }
  
  @if $type == angled-135 {
    @include linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
      transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
      transparent 75%, transparent, $fallback: $color);
  }

  @if $type == horizontal {
    @include linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent, $fallback: $color);
  }
}

