//
// Default Values
// -------------------------------------------------------------------

$white: #F5F4EC;
$black: #2F3443;
$default-code-background: #F0F0F0;

//
// Button Defaults
// -------------------------------------------------------------------

$default-btn-color: #19AE58;
$default-btn-text-color: $white;
$default-btn-text-dark: $black;

//
// Dropdown Defaults
// -------------------------------------------------------------------

$default-dropdown-background: #ECECF2;
$default-dropdown-text-color: #6D707B;

//
// Modal Defaults
// -------------------------------------------------------------------

$default-modal-z-index: 1040;
$default-modal-backdrop-color: #000000;
$default-modal-background: $white;
$default-modal-border: #D8C8B2;
$default-modal-text-color: #074B75;

//
// Navbar Defaults
// -------------------------------------------------------------------

$nav-link-padding: 10px 15px;
$nav-link-hover-bg: #eee;
$nav-disabled-link-color: #999;
$nav-disabled-link-hover-color: #999;
$link-color: #428bca;
$link-hover-color: darken(#428bca, 15%);
$nav-tabs-border-color: #ddd;
$line-height-base: 1.428571429;
$border-radius-base: 4px;
$nav-tabs-justified-link-border-color: #ddd;
$nav-tabs-justified-active-link-border-color: #fff;
$nav-tabs-link-hover-border-color: #eee;
$nav-tabs-active-link-hover-color: #555;
$nav-tabs-active-link-hover-bg: #fff;
$nav-tabs-active-link-hover-border-color: #ddd;
$nav-pills-border-radius: 4px;
$nav-pills-active-link-hover-color: #fff;
$nav-pills-active-link-hover-bg: #428bca;

$navbar-height: 5px;
$navbar-margin-bottom: 20px;
$navbar-border-radius: $border-radius-base;
$line-height-computed: 20px;
$navbar-padding-horizontal: floor(30px / 2);
$navbar-default-brand-hover-bg: transparent;
$navbar-default-color: #777;
$navbar-default-link-color: #777;
$navbar-default-link-hover-color: #333;
$navbar-default-link-hover-bg: transparent;
$zindex-navbar: 1000;
$zindex-navbar-fixed: 1030;
$font-size-large: 18px;
$border-radius-base: 4px;
$navbar-default-bg: #f8f8f8;
$navbar-default-link-disabled-color: #ccc;
$navbar-default-link-disabled-bg: transparent;
$navbar-default-link-active-color: #555;
$navbar-default-toggle-border-color: #ddd;
$navbar-default-toggle-hover-bg: #ddd;
$navbar-default-toggle-icon-bar-bg: #ccc;
$navbar-padding-vertical: (($navbar-height - $line-height-computed) / 2);
$input-height-base: ($line-height-computed + (6px * 2) + 2);
$navbar-default-border: darken($navbar-default-bg, 6.5%);
$navbar-default-brand-color: $navbar-default-link-color;
$navbar-default-brand-hover-color: darken($navbar-default-brand-color, 10%);
$navbar-default-link-active-bg: darken($navbar-default-bg, 6.5%);