<!DOCTYPE html>
<html>
<head>
  <title>Sb2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="initial-scale=1">

</head>
<body ontouchstart="">
  <div class="main-navbar">

    <div class="btn-group navbar-left">
      <a class="btn btn-flat dark-blue" href="/greetings/hello"><i class="fa fa-home"></i></a>
      <div class="btn-group">
        <a class="btn btn-flat dark-blue dropdown-toggle" id="dropdown-menu-nav" toggle-type="dropdown"><i class="fa fa-bars"></i></a>
        <ul class="dropdown-menu use-caret dropdown-menu-table responsive-nav" id="left-menu" role="menu" aria-labelledby="dropdown-menu-nav">
          <li class="column-menu">
            <ul>
              <li class="header">Components <i class="fa fa-chevron-down"></i></li>
              <li> <a class="btn-nav" href="/greetings/hello"><i class="fa fa-home"></i> Hello</a> </li>
              <li> <a class="btn-nav" href="/greetings/buttons"><i class="fa fa-youtube-play"></i> Buttons</a> </li>
              <li> <a class="btn-nav" href="/greetings/dropdowns"><i class="fa fa-bars"></i> Dropdowns</a> </li>
              <li> <a class="btn-nav" href="/greetings/modals"><i class="fa fa-archive"></i> Modals</a> </li>
              <li> <a class="btn-nav" href="/greetings/navbars"><i class="fa fa-beer"></i> Navbars</a> </li>
              <li> <a class="btn-nav" href="/greetings/forms"><i class="fa fa-list-alt"></i> Forms</a> </li>
            </ul>
          </li>
          <li class="column-menu">
            <ul>
              <li class="header">More Things <i class="fa fa-chevron-down"></i> </li>
              <li> <a class="btn-nav" href="/greetings/typography"><i class="fa fa-font"></i> Typography</a> </li>
              <li> <a class="btn-nav" href="/greetings/defaults"><i class="fa fa-pagelines"></i> Defaults</a> </li>
              <li> <a class="btn-nav" href="/greetings/players"><i class="fa fa-play"></i> Players</a> </li>
              <li> <a class="btn-nav">Item</a> </li>
            </ul>
          </li>
          <li class="column-menu">
            <ul>
              <li class="header">Things? <i class="fa fa-chevron-down"></i> </li>
              <li> <a class="btn-nav">Thing</a> </li>
              <li> <a class="btn-nav">Thing</a> </li>
              <li> <a class="btn-nav">Thing</a> </li>
              <li> <a class="btn-nav">Thing</a> </li>
              <li> <a class="btn-nav">Thing</a> </li>
            </ul>
          </li>
          <li class="footer-menu">
            <ul>
              <li class="header">Footer</li>
              <li> <a class="btn-nav">One</a> </li>
              <li class="divider"></li>
              <li> <a class="btn-nav">Two</a> </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

<!--     <div class="btn-group navbar-right">
      <a class="btn btn-flat dark-blue dropdown-toggle" id="dropdown-menu-nav-3" toggle-type="dropdown"><i class="fa fa-briefcase"></i> Parents <i class="fa fa-caret-down fa-lg"></i></a>
      <ul class="dropdown-menu use-caret dropdown-menu-table responsive-nav" id="right-menu" role="menu" aria-labelledby="dropdown-menu-nav-3">
        <li class="column-menu">
          <ul>
            <li> <a class="btn-nav">Menu</a> </li>
            <li> <a class="btn-nav">Menu</a> </li>
            <li> <a class="btn-nav">Menu</a> </li>
            <li> <a class="btn-nav">Menu</a> </li>
            <li> <a class="btn-nav">Menu</a> </li>
          </ul>
        </li>
      </ul>
    </div> -->

    <div class="btn-group navbar-right">
      <a class="btn btn-flat dark-blue">Here</a>
      <div class="btn-group">
        <a class="btn btn-flat dark-blue dropdown-toggle" id="dropdown-menu-nav-2" toggle-type="dropdown"><i class="fa fa-cogs"></i></a>
        <ul class="dropdown-menu use-caret dropdown-menu-table responsive-nav" id="right-menu" role="menu" aria-labelledby="dropdown-menu-nav-2">
          <li class="column-menu">
            <ul>
              <li> <a class="btn-nav">Menu</a> </li>
              <li> <a class="btn-nav">Menu</a> </li>
              <li> <a class="btn-nav">Menu</a> </li>
              <li> <a class="btn-nav">Menu</a> </li>
              <li> <a class="btn-nav">Menu</a> </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="page">
    <div class="page">
      <div id="header">
        <h1>Here is the header for the page</h1>
        <h2>Aww look. Another header</h2>
      </div>
    </div>
      <%= yield %>
    </div>

    <div class="page">
      <div id="footer">
        <h1>Here is the footer for the page</h1>
        <h2>Aww look. Another footer</h2>
      </div>
    </div>

  </body>
  </html>
