//
// Buttons Base
// -------------------------------------------------------------------

@mixin btn-base() {
  @include user-select(none);
  @include inline-block;

  @include border-radius($default-btn-border-radius);
  @include pad(10px 15px);
  margin: 5px;
  border: 0px;

  text-decoration: none;
  cursor: pointer;

  &:focus {
    outline-width: 0px;
  }

  &:disabled,
  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

@import "elements/buttons/button-group";
@import "elements/buttons/button-standard";
@import "elements/buttons/button-photo-source";
@import "elements/buttons/button-big-green";
@import "elements/buttons/button-flat";
@import "elements/buttons/button-close";
@import "elements/buttons/button-toggle";
@import "elements/buttons/sb-button";