@mixin btn-toggle($color) {
  @include btn-base();
  @include pad(10px);

  background-color: white;
  border: 2px solid $color;

  font-family: ProximaNova;
  font-size: 20px;
  color: #6B6F80;
  
  &.hover,
  &:hover {
    background-color: shade(white, 10%);

    &.active,
    &:active {
      @include box-shadow(none);
      background-color: $color;
      color: white;
    }
  }

  @include media($mobile) {
    font-size: 16px;
  }
}

.toggle {
  .btn {
    min-width: 135px;
    text-align: center;
    line-height: 33px;

    @include media($mobile) {
      min-width: 90px;
      line-height: 24px;
    }
  }
}