@mixin btn-toggle($color) {
  @include btn-base();

  background-color: white;
  border: 2px solid $color;

  font-family: ProximaNova;
  font-size: 20px;
  color: #6B6F80;
  
  &.hover,
  &:hover {
    background-color: shade(white, 10%);

    &.active,
    &:active {
      @include box-shadow(none);
      background-color: $color;
      color: white;
    }
  }

  @include media($mobile) {
    font-size: 16px;
  }
}

@import "elements/buttons/sb-toggle";